<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tgcity.profession.multiimageselector">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true">

        <activity
            android:name="com.tgcity.profession.imageselector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />

        <!-- FileProvider配置访问路径，适配7.0及其以上 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/mis_provider_paths" />
        </provider>

    </application>
</manifest>
